@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,200&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.container{
    background: black;
    
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    max-width: 1024px;
    
}
 ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;    
 }

 ul li a{
    padding: 0 16px;
 }

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2;

}
.boton{
    background: none;
    border: none;
    border-radius:  4px;
}

.boton .linea{

    height: 2px;
    width: 20px;
    background: white;
    margin: 4px 0;
    z-index: 6;

}

.links{
    background-color: #f74f10;
    border: none;
    border-radius: 15px;
}

.links a{
    color: white;
    text-decoration: none; 
    font-size: 1.4rem;
}

.links a:hover::before,
.links a:hover{
    text-decoration: none; 
    color: #f74f10;
    width: 100%;
}
nav{
    position: fixed;
    display: flex;
    align-items: center;
     
}

.logo img{
    display: flex;
    justify-content: flex-start;
    width: 150px;
    margin-left:  10px;
    filter: drop-shadow(4px 4px 4px white);

}


@media (min-width: 768px){

        .boton {
        display: none;
        }
        
        nav {
            display: flex;
            align-items: center;
            position: inherit;
        }
        ul {
            flex-direction:  row;
        }
        .logo {
            order: 0;

        
        }
    }




/* section :start */

section{
    width: 100%;
    height: 90vh;
    margin-top: 10vh;

}
section .content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.content .main-content{
    color: white;
    max-width: 600px;
    width: 100%;
    margin: 0;
}

.main-content h1{
    font-size: clamp(2rem, 1rem + 5vw, 4rem);
}

.main-content h2{
    color: #f74f10;
    font-size: clamp(2rem, 1rem + 5vw, 3.5rem);
}
.main-content p{
    margin-top: 10px;
    color: #635e5c;
}

 .main-content .order{
    display: flex;

    width: 100%;
    justify-content: space-around;
    min-height: 7vh;
}

.order{
    margin-top: 5px;
}
.order h3{
    font-size: 1.8rem;
}
.order button{
    min-width: 50%;
    margin-left: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #f74f10 40%, #8a3313);
    color: white;
    font-weight: 700;
    padding: 0 2px;
    font-size: clamp(0.6rem, 1rem 5vw, 3rem);
    transition: 0.1s linear;
}

.order button:hover{
    box-shadow: 0 0 30px #f74f10;
    background: linear-gradient(to bottom right, #f74f10 40%, #8a3313);
}

.content .image img{

    max-width: 350px;
    width: 100%;
    transform: rotate(40deg)translateX(900px);
    filter: drop-shadow(-10px -10px 200px #f74f10);
}


@media(max-width: 700px){
    .content{
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
        margin-left: 5px;
    }

    .main-content{
        margin: 0 5px;
    }
}

@media(min-width: 884px){
    .content .image img{
        min-width: 500px;
    }
}

@media (max-width: 440px){


    .content .image img{
        width: 100%;

        margin-left: 5px;
    }

}







